doctype 
html(lang="es")
    head 
        meta(charset="UTF-8")
        tittle HTML 5 Document 
        link(rel="stylesheet", href="../css/master.css")
    body 
        nav.controls 
            a(href="../index.html")
        main 
            header 
                h1 HTML 5 Document
            section 
                article 
                    h3 lorem ipsum 
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat saepe nam non provident reprehenderit, necessitatibus illum, architecto libero ipsum neque esse! Repellendus eos voluptates excepturi tenetur voluptatum nemo animi nisi!