doctype 
html(lang="es")
    head 
        meta(charset="UTF-8")
        tittle Style Attributes 
        link(rel="stylesheet", href="../css/master.css")
    body 
        nav.controls 
            a(href="../index.html")
        main 
            header 
                h1 Style Attributes
            section 
                h2(style={
                    "background-color": "skyblue",
                    color: "chocolate",
                    padding: "10px",
                    "border-radius": "10px"
                }) Styling