doctype 
html(lang="es")
    head 
        meta(charset="UTF-8")
        tittle Variables attributes 
        link(rel="stylesheet", href="../css/master.css")
    body 
        nav.controls 
            a(href="../index.html")
        main 
            header 
                h1 Variables attributes
            section 
                - var classes = ["red", "green", "blue"]
                - var idu = "user01"
                h2(id=idu, class=classes) Jeremias Springfield