doctype 
html(lang="es")
    head 
        meta(charset="UTF-8")
        tittle Literal Attributes
        link(rel="stylesheet", href="../css/master.css")
    body 
        nav.controls 
            a(href="../index.html")
        main 
            header 
                h1 Literal Attributes
            section 
                h2#user01.blue.uppercase Jeremias Springfield