extends inc/layout.pug

block title 
    title Inheritance 
block content 
    header
        h1 Inheritance 
    section
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore explicabo consequatur tempore nihil similique id itaque sint animi molestias iusto sunt impedit, ut aperiam voluptate doloremque ipsa exercitationem. Quisquam, soluta!