@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
    font-family: poppins;
    background-color: #17A053;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 95%;
    

    header {
        display: flex;
        background-color: #17A053;
        color: #fff9;
        display: inline-flex;
        gap: 1rem;
        margin: 0 auto;
        padding: 1.5rem 2.5rem;
        text-decoration: none;
        justify-content: space-between;
        
        a:is(:link, :visited) {
                background-color: rgba(0, 0, 0, 0.185);
                border-bottom: 5px solid #fff;
                display: flex;
                color:#fffd;
                gap: 1.5rem;
                justify-content: center;
                font-size: 1.5rem;
                padding: 1rem;
                text-decoration: none;
                height: 50px;
                width: 200px;
                transition: all 0.5s ease-in
            }

            a:is(:hover){
                background-color: black; 
                border-bottom: 5px solid yellow;
            }
    }

    footer{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 700px;
        height: auto;
        margin: 2rem;
        align-items: center;
        padding: 1rem;

        .botones-finales{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;

            a:is(:link, :visited) {
                text-decoration: none;
                color: #000;
                background-color: transparent;
                border-bottom: 4px solid #fff;
                height: 50px;
                width: 135px;
                align-items: center;
                display: flex;justify-content: center;
                font-size: 1rem;
            }
            a:is(:hover){
                border-color: #17a053;
                transition: 0.3s easy-in all;
            }
        }
    }}